body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#F9F9F9!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.myMenu{
    background-color: #00AABB!important;
    border-color: #00AABB!important;   
}
.myMenuAdmin{
    background-color:#AB4747!important;
    border-color:#AB4747!important;
}

.menuItem, #registerLink, #adminLink, #readerLink, #basketLink{
    color: white!important; 
    margin: 0 0 0 30px;
}
.menuItem:hover, #registerLink:hover, #adminLink:hover, 
#readerLink:hover, #basketLink:hover{
    color: yellow!important;   
}

#activeLink{
    color: yellow!important;
    margin: 0 0 0 30px;
}

.resultUserRegister{
    color: deeppink;
    margin: 15px;
}

.adminDashboard{
    padding-top: 30px;
}

.table{
    margin-top:15px;
}

.mainContent{
        padding: 0 0 0 50px!important;
    border-left: 1px solid grey;
}

.disactLink{
    color: #F0F0F0;
}
.disactLink:hover{
    color: lightgray;
}

.actLink{
    color: blue;
}