@model IEnumerable<LibraryUI.Models.BookCardViewModel>

@{
    ViewBag.Title = "Cart";
}

<h2> Cart</h2>
<h3>This page is in progress.</h3>
<h3>To get a book: -> Librarian -> BookCards -> Getout Book</h3>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
    </tr>
}

</table>*@

@*<input type="submit" value="Submit" class="btn btn-success"/>*@