@model List<LibraryUI.Models.BookCardViewModel>


@{
    ViewBag.Title = "Index";
    int counter = 0;
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            №
        </th>
        @*<th>
            Id
        </th>*@
        <th>
            Title
        </th>
        <th>
            Authors
        </th>
        <th>
            isAvailable
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{counter++;}
            @counter
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            TODO: DropDown List
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAvailable)
        </td>
    </tr>
}

</table>
